@model SigmaDraconisData.Models.User
@{
    ViewBag.Title = "Register";
}


<h2>Register</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <div>
        Username
        @Html.TextBoxFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)
    </div>

    <div>
        Elder Scrolls Online username
        @Html.TextBoxFor(model => model.ESOUsername)
        @Html.ValidationMessageFor(model => model.ESOUsername)
    </div>

    <div>
        Email
        @Html.TextBoxFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    
    <div>
        Password
        @Html.PasswordFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div>
        Password again
        @Html.PasswordFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div>
        <input type="submit" value="Create" class="btn btn-default" />
    </div>   
}
